/* @group Base */
.basic-wizard .nav li a {
	background: #e4e7ea;
	border-bottom: 1px solid #ccc;
	color: #4A535E;
	border-right: 1px solid #ccc;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	opacity: 0.75;
}
.basic-wizard .nav li:last-child a {
	border-right: 0;
}
.basic-wizard .nav li a:hover {
	background-color: #f7f7f7;
	opacity: 1;
}
.basic-wizard .nav li.active a, .basic-wizard .nav li.active a:focus, .basic-wizard .nav li.active a:active {
	background: #fcfcfc;
	border-bottom-color: #fcfcfc;
	color: #333;
	opacity: 1;
}
.basic-wizard ul li a span {
	font-family: 'LatoBold', sans-serif;
}
.basic-wizard .pager {
	margin: 0;
	border-top: 1px solid #ddd;
	background: #f7f7f7;
	padding: 10px;
}
.basic-wizard .pager li a {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-color: #357EBD;
	background-color: #004318;
	color: #fff;
}
.basic-wizard .pager li a:hover {
	border-color: #285E8E;
	background-color: #ffde00;
	color: #000;
}
.basic-wizard .pager li.disabled a {
	background: #eee;
	color: #999;
	border-color: #ccc;
}
.basic-wizard .progress {
	height: 12px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.basic-wizard .nav-disabled-click li a:hover, .basic-wizard .nav-disabled-click li a:active, .basic-wizard .nav-disabled-click li a:focus {
	background-color: #E4E7EA;
	opacity: 0.75;
	color: #4A535E;
	cursor: default;
}
.basic-wizard .nav-disabled-click li.active a:hover, .basic-wizard .nav-disabled-click li.active a:active, .basic-wizard .nav-disabled-click li.active a:focus {
	background: #fcfcfc;
	color: #333;
	opacity: 1;
}
.basic-wizard .tab-content {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.tab-content>.tab-content1 {
	display: none
}
.panel-btns {
	padding: 0;
	margin: 0;
}
.panel-head {
	padding: 0;
	margin: 0;
}
.leftpanelinner {
	background-color: #ededed
}
.nav-horizontal {
	background-color: #ededed
}
.logopanel {
	background-color: #ededed
}
.mainpanel {
	background-color: #ededed
}
.menutoggle {
	background-color: #ededed
}
.headerbar {
	background-color: #ededed
}
.dropdown-menu {
	background-color: #ededed
}
.pageheader {
	background-color: #ededed
}
.headerbar {
	margin-top: 8px;
}
.leftpanel {
	margin-top: 50px;
}
.logopanel h1 span {
	color: #29cc71;
}
.pageheader h2 {
	color: #29cc71;
}
.pageheader .glyphicon, .pageheader .fa {
	border: 2px solid #ffde00;
}
.sidebartitle {
	background: #000;
	font-size: 16px;
	padding: 10px;
	color: #ffde00;
}
.nav-parent {
	color: #000;
}
.panelx {
	background: #232323;
	color: #ffde00;
}
.btn-primary {
	background-color: #004318;
	border-color: #333;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #000;
	background-color: #ffde00;
	border-color: #00431E
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #d82e2f;
	border-color: #00431E
}
.nav-bracket > li > a:hover, .nav-bracket > li > a:active, .nav-bracket > li > a:focus {
	background-color: #29cc71;
}
.nav-bracket > li.nav-parent > a:hover, .nav-bracket > li.nav-parent > a:active {
	background-color: #29cc71;
}
.nav-bracket > li > a {
	color: #000;
}
.children {
	color: #000;
}
.panel-success .panel-heading {
	background-color: #29cc71;
}
.panel-danger .panel-heading {
	background-color: #d82e2f;
}
.panel-primary .panel-heading {
	background-color: #ffde00;
}
.panel-dark .panel-heading {
	background-color: #1d2939;
}

	


	/*
	.basic-wizard {
	  margin: 30px 20px;
		height: 43px;
		padding-right: 20px;
		position: relative;
		z-index: 0;
		}
	*/
	/* z-index to make sure the buttons stack from left to right */
	
	/*.basic-wizard li {
		float: left;
		position: relative;
		z-index: 3;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
				    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
		}
		
	.basic-wizard li:first-child {
		-webkit-border-radius: 5px 0 0 5px;
		   -moz-border-radius: 5px 0 0 5px;
	   	      border-radius: 5px 0 0 5px;
		}
		
	.basic-wizard li:nth-child(2) { z-index: 1; }
	.basic-wizard li:nth-child(3) { z-index: 0; }
	*/
	/* different widths */
	
	
/*	.basic-wizard.fourstep li { width: 15%; }
*/	
	   /* step links */
	
	/*.basic-wizard a, .basic-wizard a:visited {
		width: 100%;
		height: 43px;
		padding: 0 0 0 25px;
		color: #717171;
		text-align: center;
		text-shadow: 0 1px 0 #fff;
		line-height: 43px;
		white-space: nowrap;
		border: 1px solid #cbcbcb;
		text-decoration: none;
		border-top-color: #dddddd;
		border-right: 0;
		background-color: #fbfbfb;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
		background-image: -webkit-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
		background-image: -moz-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
		background-image: -o-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
		background-image: -ms-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
		background-image: linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
		float: left;
		position: relative;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			      box-sizing: border-box;
		}
		
	.basic-wizard li:first-child a {
		padding-left: 12px;
		-webkit-border-radius: 5px 0 0 5px;
		   -moz-border-radius: 5px 0 0 5px;
	   	      border-radius: 5px 0 0 5px;
		}
	
	.basic-wizard a:before {
		content: "";
		width: 29px;
		height: 29px;
		border-right: 1px solid #dddddd;
		border-bottom: 1px solid #cbcbcb;
		background-image: -webkit-gradient(linear, right top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
		background-image: -webkit-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
		background-image: -moz-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
		background-image: -o-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
		background-image: -ms-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
		background-image: linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
		display: block;
		position: absolute;
		top: 6px;
		right: -16px;
		z-index: -1;
		-webkit-transform: rotate(-45deg);
		   -moz-transform: rotate(-45deg);
		     -o-transform: rotate(-45deg);
			 	    transform: rotate(-45deg);
		}
		
	.basic-wizard a:hover {
		color: #2e2e2e;
		background-color: #f5f5f5;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 242, 242)), to(rgb(217, 217, 217)));
		background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
		background-image: -moz-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
		background-image: -o-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
		background-image: -ms-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
		background-image: linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
		}
		
	.basic-wizard a:hover:before {
		background-image: -webkit-gradient(linear, right top, left bottom, from(rgb(242, 242, 242)), to(rgb(217, 217, 217)));
		background-image: -webkit-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
		background-image: -moz-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
		background-image: -o-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
		background-image: -ms-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
		background-image: linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
		}*/
	
	/* selected */
		
/*	.basic-wizard li.selected {
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				    box-shadow: none;
		}
								
	.basic-wizard li.selected a, .basic-wizard li.selected a:before {
		background: #ebebeb;
		}
		
	.basic-wizard li.selected a {
		border-top-color: #bebebe;
		-webkit-box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);
		   -moz-box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);
				    box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);
		}
		
	.basic-wizard li.selected a:before {
		border-right: 1px solid #bebebe;
		border-bottom: 1px solid #cbcbcb;
		-webkit-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
		   -moz-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
				    box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
		}


*/


/* @end */
