/* @group Base */
.basic-wizard .nav li a {
	background: #e4e7ea;
	border-bottom: 1px solid #ccc;
	color: #4A535E;
	border-right: 1px solid #ccc;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	opacity: 0.75;
}
.basic-wizard .nav li:last-child a {
	border-right: 0;
}
.basic-wizard .nav li a:hover {
	background-color: #f7f7f7;
	opacity: 1;
}
.basic-wizard .nav li.active a, .basic-wizard .nav li.active a:focus, .basic-wizard .nav li.active a:active {
	background: #fcfcfc;
	border-bottom-color: #fcfcfc;
	color: #333;
	opacity: 1;
}
.basic-wizard ul li a span {
	font-family: 'LatoBold', sans-serif;
}
.basic-wizard .pager {
	margin: 0;
	border-top: 1px solid #ddd;
	background: #f7f7f7;
	padding: 10px;
}
.basic-wizard .pager li a {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-color: #357EBD;
	background-color: #004318;
	color: #fff;
}
.basic-wizard .pager li a:hover {
	border-color: #285E8E;
	background-color: #ffde00;
	color: #000;
}
.basic-wizard .pager li.disabled a {
	background: #eee;
	color: #999;
	border-color: #ccc;
}
.basic-wizard .progress {
	height: 12px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.basic-wizard .nav-disabled-click li a:hover, .basic-wizard .nav-disabled-click li a:active, .basic-wizard .nav-disabled-click li a:focus {
	background-color: #E4E7EA;
	opacity: 0.75;
	color: #4A535E;
	cursor: default;
}
.basic-wizard .nav-disabled-click li.active a:hover, .basic-wizard .nav-disabled-click li.active a:active, .basic-wizard .nav-disabled-click li.active a:focus {
	background: #fcfcfc;
	color: #333;
	opacity: 1;
}
.basic-wizard .tab-content {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.tab-content>.tab-content1 {
	display: none
}
.panel-btns {
	padding: 0;
	margin: 0;
}
.panel-head {
	padding: 0;
	margin: 0;
}
.leftpanelinner {
	background-color: #ededed
}
.nav-horizontal {
	background-color: #ededed
}
.logopanel {
	background-color: #ededed
}
.mainpanel {
	background-color: #ededed
}
.menutoggle {
	background-color: #ededed
}
.headerbar {
	background-color: #ededed
}
.dropdown-menu {
	background-color: #ededed
}
.pageheader {
	background-color: #ededed
}
.headerbar {
	margin-top: 8px;
}
.leftpanel {
	margin-top: 50px;
}
.logopanel h1 span {
	color: #29cc71;
}
.pageheader h2 {
	color: #29cc71;
}
.pageheader .glyphicon, .pageheader .fa {
	border: 2px solid #ffde00;
}
.sidebartitle {
	background: #000;
	font-size: 16px;
	padding: 10px;
	color: #ffde00;
}
.nav-parent {
	color: #000;
}
.panelx {
	background: #333;
    color: #ffde00;
    padding: 12px 0px 12px 12px;
    border-radius: 3px;
}
.btn-primary {
	background-color: #004318;
	border-color: #333;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #000;
	background-color: #ffde00;
	border-color: #00431E
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #d82e2f;
	border-color: #00431E
}
.nav-bracket > li > a:hover, .nav-bracket > li > a:active, .nav-bracket > li > a:focus {
	background-color: #29cc71;
}
.nav-bracket > li.nav-parent > a:hover, .nav-bracket > li.nav-parent > a:active {
	background-color: #29cc71;
}
.nav-bracket > li > a {
	color: #000;
}
.children {
	color: #000;
}
.panel-success .panel-heading {
	background-color: #29cc71;
}
.panel-danger .panel-heading {
	background-color: #d82e2f;
}
.panel-primary .panel-heading {
	background-color: #ffde00;
}

.left {
	float: left;
}
.signinpanel {
	/*border:#000 3px thin;*/
	
	margin-left: 0;
	margin-top: 0;
}
.left {
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
}
.right {
	margin-top: 2%;
	margin-right: 2%;
	width: 60%;
}
.sidebarpanel {
	padding: 10px;
	margin-top: 2%;
}
.sidebarpanel h2 {
	font-weight: normal;
	font-size: 1.5em;
	text-transform: lowercase;
	letter-spacing: 0.01em;
	color: #FFDE00;
	background-color: #1b1b1b;
	margin-bottom: 1em;
	padding: 0.2em 0.3em;
}
.sidebarpanel ul {
	text-align: left;
	width: 100%;
	margin: 4em;/*margin-left: 1em;*/
}
.sidebarpanel ol + ul {
	text-align: left;
	width: 100%;
	margin: auto;
	margin-left: 1em;
}
.sidebarpanel ul li {
	width: 13em;
	/* background-color: #FFDE00;*/
	padding-right: 1em;
	padding-left: 0em;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #1B1B1B;
	list-style-type: none;
	margin-right: 2em;
	margin-bottom: 1.5em;
	text-align: left;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	min-height: 4em;
	position: relative;
	vertical-align: top;
	margin-left: -2em;
	font-size: 0.8em;
}
.sidebarpanel ul li:before {
	content: "";
	background: tranparent;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 10px solid white;
	border-bottom: 8px solid transparent;
	margin-top: 10%;
}
.sidebarpanel ul li a, .sidebarpanel ul li p {
	display: inline-block;
	text-decoration: none;
	color: #1B1B1B;
	font-size: 0.8em;
	font-weight: bolder;
	line-height: 0.95em;
	margin-top: 3em;
	padding-left: 7em;
	padding-bottom: 47px;
	max-height: 5.5em;
	/*background-image: url(../images/Icon_PH.png);*/
	background-repeat: no-repeat;
	background-origin: border-box;
	background-attachment: scroll;
	background-position: 15px -25%;
	background-clip: padding-box;
	background-size: 75px;
	overflow-y: hidden;
}
.sidebarpanel ul li p {
	text-transform: lowercase;
	overflow: visible;
}
.sidebarpanel ul li i {
	border-right-color: #1B1B1B;
	border-width: thin;
	border-right-style: solid;
	color: #FFFFFF;
}
.sidebarpanel ol li {
	color: #7A7A7A;
	font-style: normal;
	font-size: 0.65em;
	width: 100%;
	text-transform: none;
	margin-top: 3em;
	margin-left: -2em;
	padding: 0.5em;
	list-style-type: none;
	background-color: #FFFFFF;
	border-left: 1em solid #00421C;
	box-shadow: 1px 1px 3px #C7C7C7;
	-webkit-box-shadow: 1px 1px 3px #C7C7C7;
}
.sidebarpanel img {
	margin-left: 20%;
}
.logopanel {
	padding: 10px;
	margin-top: 2%;
	margin-bottom: none;
}
.logopanel h1 {
	font-size: 30px;
	font-family: 'LatoBold', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
	letter-spacing: -1.5px;
	margin: 0;
}
.logopanel img {
	/*background: #fff;*/
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.signinpanel .signin-info ul {
   list-style: none;
   padding: 0;
   margin: 20px 0;
}
.signup-footer em {
	font-size:14px;
	float:right;
	
}



.signinpanel form {
   background: rgba(255,255,255,0.2);
   border: 1px solid #ccc;
   -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   padding:15px;
}

.signinpanel form a {
   color: #666;
}

.signup-footer img {
	width:70px;
	margin-left:2px;
	}
/* sign up */

.signuppanel {
   margin: auto;
}
.signuppanel btn{
	background:#d82e2f;
	
	
	}
.signuppanel .row {
   margin-left: -5px;
   margin-right: -5px;
}
.signup-footer {
	margin-bottom:2%;
}
.signuppanel .logopanel {
   float: none;
   width: auto;
   padding: 0;
   background: none;
}
.btn-success {
	color: #fff; 
	background-color: #29cc71;
	border-color: #4cae4c
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #47a447;
	border-color: #398439
}

.signinpanel {
   width: auto;
  
}

@media screen and (max-width: 990px) {
.sidebarpanel,
   .sidebarpanel {
      margin: 0 auto;
      padding: 20px;
   }
   
   
   .sidebarpanel {
	   margin-right:10px;
	    float:left;
}
	
	}

@media screen and (max-width: 767px) {
	
	.sidebarpanel,
   .sidebarpanel .signuppanel{
      padding: 20px;
   }
   
  
   .sidebarpanel .signuppanel{
	   margin-right:10px;
	    float:left;
}
	
	}
@media screen and (max-width:640px ) {
	
	.sidebarpanel,
   .sidebarpanel .signuppanel{
      margin: 0 auto;
     
   }
   
  
   .sidebarpanel .signuppanel{
	   margin-right:10px;
	    
}
}
@media screen and (max-width: 480px) {
   
   .sidebarpanel,
   .sidebarpanel .signuppanel{
	   float:left;
   }
    .sidebarpanel .signuppanel{
	   margin-right:10px;
}
.signup-footer{border-top: hidden ;
   }
}

@media screen and (max-width: 360px) {
	
   .sidebarpanel .signuppanel{
	   margin-right:10px;
	   float:left;}
	   .signup-footer{
		   border-top:hidden ;
   }	
	   }

	
@media screen and (max-width: 320px) {
   
   .sidebarpanel,
   .sidebarpanel .signuppanel{
   }
   .sidebarpanel .signuppanel{
	   margin-right:5%;
	   float:left;
	   }
.signup-footer{border-top:hidden;
   }
	    
 
   
}


/* @end */
